@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  height: 100vh;
}

body {
  color: white;
  font-family: "Russo One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e1f26;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #1e1f26, #4f505e, #1e1f26);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1e1f26;
  position: relative;
  height: 100%;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 21%;
  width: 200px;
}

.card {
  /* perspective: 1000px; */
  cursor: pointer;
  margin: 2px;
}
.card svg {
  width: 70px !important;
  height: 100px !important;
  position: relative;
  -webkit-box-shadow: 3px 3px 5px 0px #000000;
  box-shadow: 2px 2px 4px 0px #000000;
}

.game-header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gameOverModal {
  z-index: 50;
  background: #1e1f26;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.98;
}

/* --------------------------------- */
/* ------------- menu ------------- */
/* --------------------------------- */
.menu {
  z-index: 100;
  background: #1e1f26;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  color: #dbdbdb;
}
a:hover {
  color: #40b3ff;
  text-shadow: 2px 2px 2px #000000;
}

/* ----------------------------------------- */
/* ------------- HTML elements ------------- */
/* ----------------------------------------- */
table {
  border: none;
  background: #2b2b33;
  color: #ffffff;
  text-align: center;
  border: 1px solid #434450;
  width: 270px;
  border-collapse: collapse;
  -webkit-box-shadow: 3px 3px 5px 0px #000000;
  box-shadow: 2px 2px 6px 0px #000000;
}

table thead {
  background: #1c3f8a;
  color: white;
  height: 10px;
}
table td {
  padding: 5px;
  font-size: 16px;
  font-variant: small-caps;
}
table tr {
  text-align: center;
  height: 40px;
}
tbody tr:hover {
  background: #35353b;
  cursor: pointer;
}

input {
  font-family: "Russo One", sans-serif;
  height: 40px;
  width: 200px;
  text-align: center;
  border-radius: 3px;
  background: #d0e1f9;
  color: #2a3132;
  border: none;
  padding: 5px;
  margin: 10px;
}

button {
  font-family: "Russo One", sans-serif;
  height: 40px;
  width: 200px;
  text-align: center;
  border-radius: 3px;
  background: #4d648d;
  color: #ffffff;
  border: none;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
button:hover {
  background: #5974a1;
}

/* EFFECT */
.flip-vertical-right {
  -webkit-animation: flip-vertical-right 0.3s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
.flip-vertical-left {
  -webkit-animation: flip-vertical-left 0.3s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

.fade-in {
  -webkit-animation: fade-in 0.15s linear both;
  animation: fade-in 0.15s linear both;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s linear infinite both;
  animation: heartbeat 1.5s linear infinite both;
}

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
